__pycache__/
*.py[cod]
*.pyc
src/redrawing/communication/__pycache__/udp.cpython-38.pyc
src/redrawing/components/__pycache__/oak.cpython-38.pyc
src/redrawing/components/__pycache__/pipeline.cpython-38.pyc
src/redrawing/components/__pycache__/stage.cpython-38.pyc
src/redrawing/data_interfaces/__pycache__/__init__.cpython-38.pyc
src/redrawing/data_interfaces/__pycache__/bodypose.cpython-38.pyc
src/redrawing/data_interfaces/__pycache__/data_class.cpython-38.pyc
src/redrawing/data_interfaces/__pycache__/frame.cpython-38.pyc
src/redrawing/data_interfaces/__pycache__/gesture.cpython-38.pyc
src/redrawing/data_interfaces/__pycache__/image.cpython-38.pyc
src/redrawing/data_interfaces/__pycache__/imu.cpython-38.pyc
src/redrawing/data_interfaces/__pycache__/object_detection.cpython-38.pyc
src/redrawing/third_models/oak_models/__pycache__/__init__.cpython-38.pyc
*.whl
*.gz
dist/
